* { padding: 0; margin: 0; }
body { background: #F5F5F5 url(/images/background.jpeg); font-family: 'Roboto Condensed', sans-serif; font-size: .90em; padding: 0; margin: 0; }
img { border: none;}
a { color: #777; text-decoration: none;}
a:hover { color: #555; text-decoration: none;}
/* li { margin-left: 40px; } */
li { color: #036DA7; list-style-type: none; margin-bottom: 6px; }
#wrap { margin: 0 auto; width: 1000px; height: 580px; background: #fff;}
#header { height: 80px; background: #777; margin: 0 0 10px 0;}
#header a { color: #fff; text-decoration: none;}
#header h1 {color: #fff; font-size: 2em; padding: 20px 0 0 20px; font-weight: 100;}
#header h2 {color: #eee; font-size: 1.2em; padding: 0 0 0 20px; font-weight: 100;}
#headerlinks {float: right; padding: 30px 20px 0 0;}
#headerlinks a {color:#fff; padding: 0 10px;}
#headerlinks a:hover {color:#fff;}
#sidebar { width: 100px; float: right; background: #FFF; color: #666; margin-right: 20px; }
#sidebar .box { margin-bottom: 10px; padding: 10px 3px; color: #666; }
#sidebar h2 { font-size: 1.2em; font-weight: 100; padding: 3px; }
#content { margin-left: 20px; margin-right: 250px; text-align: justify; color: #777; }
#content h2 { color: #555; font-size: 1.4em; font-weight: 200;}
#content p { margin: 10px 0 20px 0; line-height: 25px;}
#footer { clear: both; color: #eee; background: #777; text-align: left; margin: 0px 0px 0px 0px; padding: 5px 20px; font-size: .9em; }
#footer a { color : #ddd; text-decoration: none; }
.post-span {color:#ccc; font-size:12px;}
.post-img{margin-top:10px;}

.tabinator {
    background: #fff;
    padding: 10px;
}
.tabinator h2 {
    text-align: center;
    margin-bottom: 20px;
}
.tabinator input {
    display: none;
}
.tabinator label {
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 10px;
    color: #ccc;
    margin-bottom: -1px;
    margin-left: -1px;
}
.tabinator label:before {
    content:'';
    display:block;
    width:100%;
    height:15px;
    background-color:#fff;
    position:absolute;
    bottom:-11px;
    left:0;
    z-index:10;
}
.tabinator label:hover {
    color: #888;
    cursor: pointer;
}
.tabinator input:checked + label {
    position: relative;
    color: #000;
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 1px solid #fff;
    border-radius: 5px 5px 0 0;
}
.tabinator input:checked + label:after {
    display: block;
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    box-shadow: 0 0 15px #939393;
}
#content1, #content2, #content3, #content4, #content5, #content6 {
    display: none;
    border-top: 1px solid #bbb;
    padding: 5px;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6 {
    display: block;
    box-shadow: 0 0 15px #939393;
}